@import url(https://fonts.googleapis.com/css?family=Montserrat);
.sarah svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  padding: 0;
  margin: 0;
  color: #282b2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 40px 0;
  line-height: 1.3;
}
h2 {
  font-size: 3em;
}

p {
  margin: 0;
  line-height: 1.6;
}

a {
  color: #eb613d;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #eb613d;
  text-decoration: underline;
}


.fUkIQu svg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.gMyTHp {
  flex: 1;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 600px) {
  .gMyTHp {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .gMyTHp {
    padding: 80px 80px 80px 80px;
  }
}
@media screen and (min-width: 1201px) {
  .gMyTHp {
    padding: 80px 120px 80px 120px;
  }
}

.dessin {
  position: relative;
  z-index: 10;
  background: #ffffff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
  border-left: 40px solid #eee;
}
@media screen and (max-width: 600px) {
  .dessin {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .dessin {
    padding: 40px 80px;
  }
}
@media screen and (min-width: 1201px) {
  .dessin {
    padding: 40px 80px;
  }
}

.kiokDU {
  justify-content: space-between;
  align-items: flex-start;
}



.evmVAZ:hover {
  text-decoration: none;
  background: #eb613d;
  color: #ffffff;
  border-color: #eb613d;
}
.evmVAZ:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 2px 2px #282b2e;
}
.dvtXOL {
  line-height: 1;
  margin-bottom: 10px;
}

@keyframes eMLfYp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bzDtW {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  opacity: 0;
  animation: eMLfYp 400ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  z-index: 120;
}
.bzDtW span {
  display: none;
}
.round {
  position: relative;
  width: 120px;
  height: 120px;
  background: #282b2e;
  padding: 20px;
  border-radius: 100%;

}
.jQxPsJ {


  display: flex;
  position: absolute;
  left: -60px;
  top: 35px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .jQxPsJ {
    display: none;
  }
}
.hLVIgY {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 110;
  border-radius: 100%;
  border: 4px solid #282b2e;
  width: 80px;
  height: 80px;
  font-size: 1.7em;
  color: #282b2e;

  background: #eb613d;
  border-color: #eb613d;
}
.hLVIgY span {
  display: block;
}
.hLVIgY svg {
  display: block;
  height: 40px;
  width: 40px;
}
.hLVIgY svg path,
.hLVIgY svg polygon,
.hLVIgY svg polyline,
.hLVIgY svg rect,
.hLVIgY svg line {
  fill: #282b2e;
  stroke: #282b2e;
  fill: #ffffff;
  stroke: #ffffff;
  fill: transparent;
}
.RTdSn {
  position: relative;
}
@keyframes jBdeIW {
  from {
    opacity: 0;
    transform: rotateX(-80deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.huKWfn {
  transform-origin: top;
  perspective: 500px;
  opacity: 0;
  transform: rotateX(-80deg);
  animation: jBdeIW 400ms 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 10;
  background: #ffffff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 600px) {
  .huKWfn {
    padding: 80px 20px 20px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .huKWfn {
    padding: 80px 40px 40px 40px;
  }
}
@media screen and (min-width: 1201px) {
  .huKWfn {
    padding: 80px 80px;
  }
}
.hPJIuQ {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .hPJIuQ {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .hPJIuQ {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1201px) {
  .hPJIuQ {
    font-size: 1.7em;
  }
}
.hPJIuQ p {
  margin-bottom: 40px;
}

.align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .align {
    padding: 0 20px;
  }
}
@keyframes wTLiJ {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.icon {
  height: 40px;
  width: 40px;
  background: #282b2e;
  border-radius: 100%;
  padding: 2px;
  margin: 0 10px;
  transform: scale(0);
  animation: wTLiJ 300ms 1300ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
}
.icon path {
  fill: white;
}
.icon:hover {
  background: #eb613d;
}
.icon:nth-child(3),
.icon:nth-child(5) {
  animation-delay: 1400ms;
  -webkit-animation-delay: 1400ms;
}
.icon:nth-child(2),
.icon:nth-child(6) {
  animation-delay: 1500ms;
  -webkit-animation-delay: 1500ms;
}
@keyframes dxgQlt {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.jcrkPC {
  display: block;
  height: 1px;
  border-bottom: 1px dotted #282b2e;
  flex: 1;
  transform: scaleX(0);
  animation: dxgQlt 100ms 1600ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 600px) {
  .jcrkPC {
    display: none;
  }
}


.top {
  margin-top: 40px;
}
