@import url(https://fonts.googleapis.com/css?family=Montserrat);
.sarah svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  padding: 0;
  margin: 0;
  color: #282b2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 40px 0;
  line-height: 1.3;
}

p {
  margin: 0;
  line-height: 1.6;
}

a {
  color: #eb613d;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #eb613d;
  text-decoration: underline;
}

.iQbGqt {
  line-height: 1.6;
  position: relative;
}
.iHGval {
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}
.fUkIQu svg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.gMyTHp {
  flex: 1;

  -ms-flex: 1;

  -webkit-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  position: relative;
}
@media screen and (max-width: 600px) {
  .gMyTHp {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .gMyTHp {
    padding: 20px 80px 20px 80px;

    min-height: 100vh;
  }
}
@media screen and (min-width: 1201px) {
  .gMyTHp {
    padding: 40px 120px 40px 120px;

    min-height: 100vh;
  }
}
.gMyTHp:last-of-type .section-icon:after {
  display: none;
}
.gMyTHp.section-intro {
  perspective: 1000px;

  -webkit-perspective: 1000px;
}
@media screen and (max-width: 600px) {
  .gMyTHp.section-intro {
    padding-top: 80px;
  }
}
.jcZDsC {
  position: relative;
  z-index: 10;
  background: #ffffff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
  border-left: 40px solid #eee;
}
@media screen and (max-width: 600px) {
  .jcZDsC {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .jcZDsC {
    padding: 40px 80px;
  }
}
@media screen and (min-width: 1201px) {
  .jcZDsC {
    padding: 40px 80px;
  }
}
.jcZDsC.section-intro-contents {
  border: none;
}
@media screen and (max-width: 600px) {
  .jcZDsC.section-intro-contents {
    padding: 80px 20px 20px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .jcZDsC.section-intro-contents {
    padding: 80px 40px 40px 40px;
  }
}
@media screen and (min-width: 1201px) {
  .jcZDsC.section-intro-contents {
    padding: 80px 80px;
  }
}
.kiokDU {
  justify-content: space-between;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  -webkit-justify-content: space-between;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .kiokDU {
    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;
  }
}
@media screen and (min-width: 1201px) {
  .kiokDU {
    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;
  }
}

.evmVAZ {
  margin-top: 20px;
  border: 1px solid #282b2e;
  display: block;
  padding: 10px 20px;
  border-radius: 3px;
  color: #282b2e;
  font-weight: normal;
  box-shadow: 4px 4px #282b2e;
}
.evmVAZ:hover {
  text-decoration: none;
  background: #eb613d;
  color: #ffffff;
  border-color: #eb613d;
}
.evmVAZ:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 2px 2px #282b2e;
}
.dvtXOL {
  line-height: 1;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .dvtXOL {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .dvtXOL {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1201px) {
  .dvtXOL {
    font-size: 4em;
  }
}
@media screen and (max-width: 600px) {
  .gMgzUa {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .gMgzUa {
    font-size: 1em;
  }
}
@media screen and (min-width: 1201px) {
  .gMgzUa {
    font-size: 1.3em;
  }
}
.gMgzUa p + p {
  margin-top: 20px;
}
@keyframes eMLfYp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bzDtW {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  opacity: 0;
  animation: eMLfYp 400ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  -webkit-animation: eMLfYp 400ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: 120;
}
.bzDtW span {
  display: none;
}
.dsCugZ {
  position: relative;
  width: 120px;
  height: 120px;
  background: #282b2e;
  padding: 20px;
  border-radius: 100%;
  margin: 0;
}
.dsCugZ path {
  fill: white;
}
.jQxPsJ {
  display: -webkit-box;

  display: -moz-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: flex;
  position: absolute;
  left: -60px;
  top: 35px;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}
@media screen and (max-width: 600px) {
  .jQxPsJ {
    display: none;
  }
}
.hLVIgY {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  position: relative;
  z-index: 110;
  border-radius: 100%;
  border: 4px solid #282b2e;
  width: 80px;
  height: 80px;
  font-size: 1.7em;
  color: #282b2e;

  background: #eb613d;
  border-color: #eb613d;
}
.hLVIgY span {
  display: block;
}
.hLVIgY svg {
  display: block;
  height: 40px;
  width: 40px;
}
.hLVIgY svg path,
.hLVIgY svg polygon,
.hLVIgY svg polyline,
.hLVIgY svg rect,
.hLVIgY svg line {
  fill: #282b2e;
  stroke: #282b2e;
  fill: #ffffff;
  stroke: #ffffff;
  fill: transparent;
}
.RTdSn {
  position: relative;
}
@keyframes jBdeIW {
  from {
    opacity: 0;
    transform: rotateX(-80deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.huKWfn {
  transform-origin: top;
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  perspective: 500px;
  -webkit-perspective: 500px;
  opacity: 0;
  transform: rotateX(-80deg);
  -ms-transform: rotateX(-80deg);
  -webkit-transform: rotateX(-80deg);
  animation: jBdeIW 400ms 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  -webkit-animation: jBdeIW 400ms 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  position: relative;
  z-index: 10;
  background: #ffffff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 600px) {
  .huKWfn {
    padding: 80px 20px 20px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .huKWfn {
    padding: 80px 40px 40px 40px;
  }
}
@media screen and (min-width: 1201px) {
  .huKWfn {
    padding: 80px 80px;
  }
}
.hPJIuQ {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .hPJIuQ {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .hPJIuQ {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1201px) {
  .hPJIuQ {
    font-size: 1.7em;
  }
}
.hPJIuQ p {
  margin-bottom: 40px;
}

.hYQYcF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .hYQYcF {
    padding: 0 20px;
  }
}
@keyframes wTLiJ {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.jEjczF {
  height: 40px;
  width: 40px;
  background: #282b2e;
  border-radius: 100%;
  padding: 2px;
  margin: 0 10px;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  animation: wTLiJ 300ms 1300ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  -webkit-animation: wTLiJ 300ms 1300ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.jEjczF path {
  fill: white;
}
.jEjczF:hover {
  background: #eb613d;
}
.jEjczF:nth-child(3),
.jEjczF:nth-child(5) {
  animation-delay: 1400ms;
  -webkit-animation-delay: 1400ms;
}
.jEjczF:nth-child(2),
.jEjczF:nth-child(6) {
  animation-delay: 1500ms;
  -webkit-animation-delay: 1500ms;
}
@keyframes dxgQlt {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.jcrkPC {
  display: block;
  height: 1px;
  border-bottom: 1px dotted #282b2e;
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  animation: dxgQlt 100ms 1600ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  -webkit-animation: dxgQlt 100ms 1600ms cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@media screen and (max-width: 600px) {
  .jcrkPC {
    display: none;
  }
}
.jcrkPC:first-of-type {
  margin-right: 10px;

  transform-origin: top right;

  -ms-transform-origin: top right;

  -webkit-transform-origin: top right;
}
.jcrkPC:last-of-type {
  margin-left: 10px;

  transform-origin: top left;

  -ms-transform-origin: top left;

  -webkit-transform-origin: top left;
}
.euuwmB {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@media screen and (min-width: 1201px) {
  .euuwmB > div {
    width: -webkit-calc((100% - 80px) / 2);
    width: -moz-calc((100% - 80px) / 2);
    width: calc((100% - 80px) / 2);
  }
  .euuwmB > div:nth-child(2n) {
    margin-left: 80px;
  }
}
.kKOtfr {
  margin-top: 40px;
}
.jPzqaA {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.lmBVno {
  font-size: 1em;
}
.lmBVno p {
  margin-bottom: 20px;
}
.lmBVno p:last-of-type {
  margin-bottom: 0;
}
.fgqZDe {
  color: #bbc0c6;
  font-weight: normal;
}
.kRmhrp {
  text-align: center;
  background: #282b2e;
  color: #ffffff;
  font-size: 0.85em;
}
@media screen and (max-width: 600px) {
  .kRmhrp {
    padding: 10px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .kRmhrp {
    padding: 20px;
  }
}
@media screen and (min-width: 1201px) {
  .kRmhrp {
    padding: 20px;
  }
}
